.navbar-brand {
  font-size: 24pt !important;
  margin-left: 50px;
}

.navlink {
  color: $text-color;
  font-size: 15pt;
  font-family: 'Source Sans Pro', sans-serif;
  margin-right: 50px;
}

nav {
  background-color: $page-background;
}
