@import '../../../styles/variables';

.card-deck {
  justify-content: center !important;
  margin-left: 150px;
  margin-right: 150px;
}

.sort {
  margin-left: 160px !important
}
.sort-buttons {
  margin-left: 150px !important;
  margin-bottom: 30px;
}
.sort-button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18pt;
  background-color: transparent !important;
  color: $text-color !important;
}

.album-title {
  font-style: italic;
}

.nxtbtn {
  margin-left: 40px !important
}

.collectionFunctions {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.newButton {
  background-color: $button-text-color !important;
  color: $button-color !important;
  border: 0px !important;
  justify-content: right;
}
