// $page-background: #FF3823;
// $text-color: #FEF67F;
// $button-color: #FEF67F;
// $button-text-color: #FF3823

$page-background: #e0dfd5;
$text-color: #2d3139;
$button-color: #e0dfd5;
$button-text-color: #2d3139;
$card-color: #7389ae;
$card-text: #e0dfd5;
$delete-color: #a72608;
