@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

@import '../components/pages/Auth/Auth.scss';
@import '../components/pages/Navbar/Navbar.scss';

body {
  background-color: $page-background;
}

button {
  background-color: $button-color !important;
  color: $button-text-color !important;
  border: 0px !important;
}


h1 {
  font-family: 'Lato', sans-serif;
  color: $text-color;
}

h2, h3, h4, h5, h6, p {
  color: $text-color;
  font-family: 'Source Sans Pro', sans-serif;
}
