@import '../../../styles/variables';

.card {
  background-color: #173F5F;
  box-shadow: 10px 10px 10px;
  margin: 15px;
}

.card-img-top {
  object-fit: cover;
  // height: 300px;
  // width: 300px;
}
