@import '../../../styles/variables';

.albumCard {
  background-color: $card-color;
  box-shadow: 10px 10px 10px;
  margin: 15px;
  flex-basis: 30% !important;
  flex-grow: 0 !important;
  border: 0px !important;
  border-radius: 15px !important;
}

.albumImg {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  object-fit: contain;
  // height: 300px;
  // width: 300px;
}

.viewButton {
  justify-content: center !important;
  text-align: center !important;
  background-color: $button-color !important;
  color: $button-text-color !important;
  border: 0px !important;
}

.deleteButton {
  background-color: $delete-color !important;
  color: whitesmoke !important;
  border: 0px !important;
}
